<div class="col-md-12">
	<form class="form-horizontal">
  <fieldset>
 <!--    <legend>Adauga Autovehicul</legend> -->

    <div class="form-group">
      <label for="select" class="col-lg-2 control-label">Categoria autovehicului</label>
      <div class="col-lg-10">
        <select class="form-control" id="select" ng-model="$ctrl.car.categorie">
          <option>A</option>
          <option>A1</option>
          <option>B</option>
          <option>B1</option>
          <option>C</option>
          <option>D</option>
          <option>D1</option>
          <option>Tr</option>
          <option>CE</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="inputMarca" class="col-lg-2 control-label">Marca</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputMarca" placeholder="Marca" ng-model="$ctrl.car.marca">
      </div>
    </div>
    <div class="form-group">
      <label for="inputModel" class="col-lg-2 control-label">Model</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputModel" placeholder="Model" ng-model="$ctrl.car.model">
      </div>
    </div>

    <div class="form-group">
      <label for="inputCuloare" class="col-lg-2 control-label">Culoare</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputCuloare" placeholder="Culoare"
        ng-model="$ctrl.car.culoare">
      </div>
    </div>
    <div class="form-group">
      <label for="inputCombustibil" class="col-lg-2 control-label">Combustibil</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputCombustibil" placeholder="Combustibil" ng-model="$ctrl.car.combustibil">
      </div>
    </div>    

    <div class="form-group">
      <label for="inputNrCil" class="col-lg-2 control-label">Nr Cili.</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputNrCil" placeholder="Nr Cili."
        ng-model="$ctrl.car.nr_cili">
      </div>
    </div>    

    <div class="form-group">
      <label for="inputNumarDeInmatriculare" class="col-lg-2 control-label">Nr. inmatriculare</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputNumarDeInmatriculare" placeholder="Nr. Inmatriculare" ng-model="$ctrl.car.nr_inmatriculare">
      </div>
    </div>
    <div class="form-group">
      <label for="inputProprietar" class="col-lg-2 control-label">Proprietar</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputProprietar" placeholder="Proprietar"
        ng-model="$ctrl.car.UserId">
      </div>
    </div>
    <div class="form-group" ng-if="$ctrl.car.data_inmatriculare">
      <label for="inputCuloare" class="col-lg-2 control-label">Data inmatriculari</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputCuloare" placeholder="Data inmatriculare"
        value="{{$ctrl.car.data_inmatriculare |  date:'yyyy-MM-dd HH:mm:ss'}}">
      </div>
    </div>


    <div class="form-group">
      <div class="col-lg-4 col-lg-offset-2">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.save()">Adauga</button>
      </div>
       <div class="col-lg-4 col-lg-offset-2" ng-if="$ctrl.car.Revisions">
        <button type="submit" class="btn btn-danger" ng-click="$ctrl.deleteCar()">Radiere</button>
      </div>
    </div>

    <div class="row text-center" ng-if="$ctrl.car.Revisions"><h2>Rev.</h2></div>
    <table class="table table-striped table-hover " ng-if="$ctrl.car.Revisions">
      <thead>
        <tr>
          <th>#</th>
          <th>Detalii revizie</th>
          <th>Data Reviziei</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="revizie in $ctrl.car.Revisions">
          <td>{{ revizie.id}}</td>
          <td>{{ revizie.detalii }}</td>
          <td>{{ revizie.data_reviziei |  date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td></td>
        </tr>
        <tr >
          <td>#</td>
          <td><textarea class="form-control" ng-model="$ctrl.revision.detalii"></textarea></td>
          <td>ACUM</td>
          <td><button class="btn btn-primary" ng-click="$ctrl.addRevision()"> Adauga revizie</button></td>
        </tr>
      </tbody>
    </table>

  </fieldset>
</form>




</div>