<div class="col-md-12 text-center">

	<h1> EDIT LEARNING AGREEMENT </h1>
	<div class="row">
		<div class="col-md-5">
			<form class="form-horizontal">
			  <fieldset>
			    <legend>Legend</legend>
			    <div class="form-group">
			    	<div class="form-group">
				      <label  class="col-lg-3 control-label">First Name</label>
				      <div class="col-lg-8">
				        <input type="text" class="form-control" placeholder="First Name" ng-model="$ctrl.user.name">
				      </div>
				    </div>
				    <div class="form-group">
				      <label  class="col-lg-3 control-label">Last Name</label>
				      <div class="col-lg-8">
				        <input type="text" class="form-control" placeholder="Last Name" ng-model="$ctrl.user.prename">
				      </div>
			      </div>
			      <div class="form-group">
				      <label  class="col-lg-3 control-label">Date of Birthday</label>
				      <div class="col-lg-8">
				        <input type="text" class="form-control" placeholder="Date of Birthday" ng-model="$ctrl.user.birthday">
				      </div>
				    </div>
				    <div class="form-group">  
				      <label  class="col-lg-3 control-label">Nationality</label>
				      <div class="col-lg-7">
				        <input type="text" class="form-control" placeholder="Nationality" ng-model="$ctrl.user.nationality">
				      </div>
				    </div>
				    <div class="form-group">  
				      <label  class="col-lg-3 control-label">Sex</label>
				      <div class="col-lg-7">
				        <select class="form-control" id="select" ng-model="$ctrl.user.sex">
				          <option>F</option>
				          <option>M</option>
				        </select>
				      </div>
				    </div>
				    <div class="form-group">
				      <label  class="col-lg-3 control-label">Semester</label>
				      <div class="col-lg-7">
				        <select class="form-control" id="select" ng-model="$ctrl.user.semester">
				          <option>Winter</option>
				          <option>Summer</option>
				        </select>
				      </div>
				    </div>
				    <div class="form-group">  
				      <label class="col-lg-3 control-label">Study cycle</label>
				      <div class="col-lg-7">
		            <select class="form-control" id="select" ng-model="$ctrl.user.study_cycle">
				          <option>Short cycle EQF level 5</option>
				          <option selected="selected">Bachelor EQF level 6</option>
				          <option>Master EQF level 7</option>
				          <option>Doctorate EQF level 8</option>
				        </select>
				      </div>
				    </div>  
				    <div class="form-group">  
				      <label  class="col-lg-3 control-label">Field of Education</label>
				      <div class="col-lg-7">
		            <select class="form-control" id="select" ng-model="$ctrl.user.field_of_education">
				          <option ng-repeat="course in $ctrl.courses | unique:'field_of_study' ">{{ course.field_of_study }}</option>
				        </select>
				      </div>
				    </div>  
			    </div>
			  </fieldset>
			</form>
		</div>

		<div class="col-md-7">
			<legend>Courses available!</legend>

			<table class="table table-striped table-hover ">
			  <thead>
			    <tr>
			    	<th>Check</th>
			      <th>Component Code</th>
			      <th>Language</th>
			      <th>Component title at Receiving</th>
			      <th>Semester</th>
			      <th>ECTS</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr ng-repeat="course in $ctrl.courses | filter:{'field_of_study':$ctrl.user.field_of_education}">
			    	<td><input type="checkbox" ng-model="course.checked" ng-change="$ctrl.updateCourse($index)"></td>
			      <td>{{ course.course_code }}</td>
			      <td>{{ course.language }}</td>
			      <td>{{ course.name }}</td>
			      <td>{{ course.semester }}</td>
			      <td>{{ course.ects }}</td>
			    </tr>
			  </tbody>
			</table> 
		</div>
	</div>
	<a href="#" class="btn btn-default btn-lg btn-block" ng-click="$ctrl.saveDocument();"> Download Learning Agreement!</a>

</div>