<div class="col-md-6 col-md-offset-3">
	<div class="form-group">
	  <label class="control-label" for="focusedInput">Cauta autoturism dupa numar de inmatriculare:</label>
	  <input class="form-control" id="focusedInput" type="text" placeholder="Nr inmatriculare" ng-model="search.nr_inmatriculare">
	  <label class="control-label" for="focusedInput">Cauta autoturism dupa nume proprietar:</label>
	  <input class="form-control" id="focusedInput" type="text" placeholder="Nume proprietar" ng-model="search.User.nume">
	  <label class="control-label" for="focusedInput">Cauta autoturisme care sunt inmatriculate dupa data:</label>
	  <input class="form-control" id="focusedInput" type="text" placeholder="Introduceti data format YYYY-MM-DD" ng-model="$ctrl.ss" ng-change="$ctrl.updateDate()">
	  <label class="control-label" for="focusedInput">Cauta autoturisme care au ultima revizie dupa data:</label>
	      <input type="checkbox" checked="checked" ng-model="$ctrl.ss3"> 

	  <input class="form-control" id="focusedInput" type="text" placeholder="Introduceti data format YYYY-MM-DD" ng-model="$ctrl.ss2" ng-change="$ctrl.updateDate()">

    <label for="select" class="control-label">Cauta dupa categoria de autovehicul:</label>
    <select class="form-control " id="select" ng-model="search.categorie">
    	<option value="">ALL</option>
      <option value="A">A</option>
      <option value="A1">A1</option>
      <option value="B">B</option>
      <option value="B1">B1</option>
      <option value="C">C</option>
      <option value="D">D</option>
      <option value="D1">D1</option>
      <option value="Tr">Tr</option>
      <option value="CE">CE</option>
    </select>
	</div>

	<ul class="list-group">
	  <li class="list-group-item" ng-repeat="car in $ctrl.cars | filter:search "  ng-if="car.data_inmatriculare > $ctrl.date && (car.Revisions[car.Revisions.length - 1] > $ctrl.date_revizie || $ctrl.ss3)">
	  	Nr. Inmatriculare.: {{ car.nr_inmatriculare}} <br>  Proprietar: {{ car.User.nume}}<br>  Data Inmatriculare: {{ car.data_inmatriculare |  date:'yyyy-MM-dd HH:mm:ss'}}
	    <a ng-link="['UpdateCar',{id:car.id}]" style="float:right;"> Modifica </a>
	  </li>
	  <li class="list-group-item" ng-if="$ctrl.cars.length == 0">
	  	Nici un rezultat
	  </li>
	</ul>
</div>