    <style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>

<div id="container" style="width: 75%;">
    <canvas id="canvas"></canvas>
</div>
 <button id="randomizeData">Randomize Data</button>