<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a ng-link="['HomeComponent']">Acasa</a></li>
        <!-- <li><a ng-link="['AddCar']">Inmatriculare Auto</a></li>
        <li><a ng-link="['FindCar']">Cauta Auto</a></li>
        <li><a ng-link="['StatisticsCar']">Diagrama</a></li> -->
       <!--  <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/">Home</a></li>
          </ul>
        </li> -->
      </ul>
 
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>